@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background:#e3e2e6;
}

main {
    max-width:1200px;
    margin:0 auto;
    margin-top:80px;
}

.page-container {
    background:white;
    padding:40px;
}